[user]
	name = Marc Picaud
	email = picaud.marc@gmail.com
	signkey = 410C3FFE
[push]
	default = simple
[color]
    ui = auto
[core]
    editor = vim
[github]
	user = marcpicaud
[commit]
	gpgsign = true
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[status]
	showUntrackedFiles = all
[pull]
	rebase = preserve
